<title>Регистрация</title>
{% extends 'base.html' %}
{% block content %}

<div class="registration" style="display: flex; justify-content: center; align-items: center">
    <form action="" method="post">
    {% csrf_token %}
    <h2>Регистрация</h2>
    {{ form.as_p }}
        <br>
    <button type="submit" class="btn btn-primary btn-block">Зарегестрироваться</button>
    </form>
</div>

{% endblock %}