<title>Создать проект</title>
{% extends 'base.html' %}
{% block content %}

<div class="task_add" style="color: lightcyan">
<form action="{% url 'project_add' %} " method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="{{ form.date_start.id_for_label }}" class="form-label">Дата начала: </label>
        {{ form.date_start }}

        <div class="invalid-feedback" style="display: block; font-size: medium" >
          {{ form.date_start.errors }}
        </div>
        <br>

    <label for="{{ form.date_end.id_for_label }}" class="form-label">Дата окончания: </label>
        {{ form.date_end }}
        <div class="invalid-feedback" style="display: block; font-size: medium">
            {{ form.date_end.errors }}
        </div>
        <br>

    <label for="{{ form.project_name.id_for_label }}" class="form-label"><h3>Наименование проекта:</h3> </label>
        <br>
        {{ form.project_name }}
        <div class="invalid-feedback">
            {{ form.project_name.errors }}
        </div>
        <br>

    <label for="{{ form.project_description.id_for_label }}" class="form-label"><h4>Описание:</h4></label>
        <br>
        {{ form.project_description }}
        <div class="invalid-feedback">
            {{ form.project_description.errors }}
        </div>
    <br>
<br>
    <button type="submit" class="btn btn-primary btn-sm">Добавить</button>

</form>
</div>
{% endblock %}