/*header {*/
/*    background-image: url('/static/image/todo.jpg');*/
/*    background-repeat: repeat;*/
/*}*/

body {
    background-image: url('/static/image/todo.jpg');
    background-repeat: repeat;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.status_task {
    background-color: chartreuse;
    border-radius: 15px;
}

.type_task {
    background-color: dodgerblue;
    border-radius: 15px;
}

p {
    margin-bottom: 0rem !important;
}

.task_add {
    display: flex;
    justify-content: center; !important;
    text-align: center; !important;
}

.task_add li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.login {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}