<title>Добавить задачу</title>
{% extends 'base.html' %}
{% block content %}

<div class="task_add">
<form action="{% url 'task_add' %}" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="{{ form.summary.id_for_label }}" class="form-label">Задача: </label>
        {{ form.summary }}

        <div class="invalid-feedback" style="display: block; font-size: medium" >
          {{ form.summary.errors }}
        </div>
        <br>

    <label for="{{ form.description.id_for_label }}" class="form-label">Описание: </label>
        {{ form.description }}
        <div class="invalid-feedback" style="display: block; font-size: medium">
            {{ form.description.errors }}
        </div>
        <br>

    <label for="{{ form.status.id_for_label }}" class="form-label">Статус: </label>
        {{ form.status }}
    <div class="invalid-feedback" style="display: block; font-size: medium">
        {{ form.status.errors }}
    </div>
    <br>

    <label for="{{ form.type.id_for_label }}" class="form-label">Тип: </label>
        {{ form.type }}
        <div class="invalid-feedback">
            {{ form.type.errors }}
        </div>
        <br>

    <label for="{{ form.project.id_for_label }}" class="form-label">Проект: </label>
        {{ form.project }}
        <div class="invalid-feedback">
            {{ form.project.errors }}
        </div>
    <br>
    <button type="submit" class="btn btn-primary btn-sm">Добавить</button>

</form>
</div>
{% endblock %}