<title>Подробное описание</title>
{% extends 'base.html' %}
{% block content %}

<div class="info">
<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">Задача: {{ all.summary }}</h4>
    <h6 class="card-title">Описанание: {{ all.description }}</h6>
    <p class="card-text">Тип задачи:
      {% for i in all.type.all %}
      {{ i.name }} {% if not forloop.last %},{% endif %}
      {% endfor %} </p>
    <p class="card-text">Статус: {{ all.status }}</p>
  </div>
</div>
</div>
{% endblock %}