<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'image/todo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'image/todo_logo.jpg' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title></title>
</head>
<body>
<header class="header">
<nav class="navbar navbar-light bg-light">
    <div class="container-lg">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'image/todo_logo.png' %}"></a>
        <a class="nav-link" href="{% url 'task_add' %}">Добавить задачу</a>
        <a class="nav-link" href="{% url 'project' %}">Проекты</a>
        {% if perms.auth.view_user %}
            <a class="nav-link" href="{% url 'users_all' %}">Список пользователей</a>
        {% endif %}
        <form action="{% url 'home' %} " method="GET">
        <label for="form.search"></label>
        <input id="form.search" type="text" name="q" maxlength="100">
        <button class="btn btn-outline-success" type="submit">Search</button>

    {% if user.is_authenticated %}
        Привет,
        <a href="{% url 'user_detail' user.pk%}">{{ user.first_name }}</a> | <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Выход</a>
    {% else %}
        <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt fa-lg"></i>Вход</a>
        <a href="{% url 'registration' %}">Регистрация</a>
    {% endif %}
    </form>

  </div>
</nav>
<br>
<body>
    {% block content %}
    {% endblock %}
</body>
</header>
