<title>Главная</title>
{% extends 'base.html' %}
{% block content %}

{% include 'partial/search_form.html' %}
{% for i in all %}
<div class="content">
<div class="row">
    <div class="card" style="width: 25rem">
      <div class="card-body">
        <h4 class="card-title">{{ i.summary }}
        {% if perms.Tracker.change_task or project.author == request.user %}
            <a href="{% url 'task_edit' i.id %}"><i class="far fa-edit"></i></a>
        {% endif %}
            {% if perms.Tracker.delete_task %}
            <form action="{% url 'task_delete' i.id%}" style="display: inline" method="post">
            {% csrf_token %} <br>
            <button type="submit"><i class="far fa-trash-alt"></i></button>

            </form>
            {% endif %}
        </h4>

        <div class="type_task" style="height: auto;"> Тип задачи: {% for typee in i.type.all %}
            <p class="type_text">{{ typee.name }} {% if not forloop.last %},{% endif %}</p>
            {% endfor %}
        </div>

        <div class="status_task"> Статус: {{ i.status }} </div>
        <br>
        <a href="{% url 'task_info' i.id%}" class="btn btn-primary">Подробно</a>
      </div>
    </div>
</div>
</div>
<br>
{% empty %}
    <div class="empty" style="font-size: 20px; color: cornsilk">
        <p>По запросу <strong>"{{ request.GET.search }}" </strong> ничего не найдено. Измените параметры поиска</p>
    </div>
{% endfor %}
    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
{% endif %}
{% endblock %}