<title>Добавление пользователя</title>
{% extends 'base.html' %}
{% block content %}

<div class="users_add" style="color: lightcyan">
<form action="{% url 'add_user' project.id%}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
</form>
</div>
{% endblock %}