<title>Мои проекты</title>
{% extends 'base.html' %}
{% block content %}
{% if perms.Tracker.add_project %}
<a href="{% url 'project_add' %}"><i class="fas fa-plus fa-4x"></i></a>
{% endif %}
{% for i in project %}
<div class="content">
<div class="row">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h4 class="card-title">{{ i.project_name }}</h4>
        <a href="{% url 'project_info' i.id%}" class="btn btn-primary">Подробно</a>
      </div>
    </div>
</div>
</div>
<br>
{% endfor %}
{% endblock %}
