<title>Описание проекта</title>
{% extends 'base.html' %}
{% block content %}
<div class="info">
<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">{{ project.project_name }}</h4>
      <h5 class="card-title">Описание: {{ project.project_description }}</h5>
        <p>Участники проекта:</p>
          {% for i in project.users.all %}
              {{ i }}{% if not forloop.last %},{% endif %}
          {% empty %}
            <p><i>Сейчас нет участников</i></p>
              {% endfor %}
        <br>
        {% if perms.Tracker.can_add_user_to_project %}
            <a href="{% url 'add_user' project.id%}"><button type="submit" class="btn btn-secondary">Добавить/Удалить участника</button></a></li>
        {% endif %}
      <br>
        <p>Задачи проекта:</p>
        {% for task in project.tasks.all %}
             <b> {{ task }} </b>
            <div class="list-group">
            <ul class="list">
                <li><a href="{% url 'task_info' task.id%}"><button type="submit" class="btn btn-success">Подробно</button></a></li>
                <br>
                {% if perms.Tracker.change_task or project.author == request.user %}
                <li><a href="{% url 'task_edit' task.id %}"><button type="submit" class="btn btn-success">Изменить</button></a></li>
                {% endif %}
                <br>
                {% if perms.Tracker.delete_task or project.author == request.user%}
                <li>
                    <form action="{% url 'task_delete' task.id%}" style="display: inline" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                    {% endif %}
                    <hr>
                </li>
            </ul>
            </div>
            {% empty %}
            <p><i>на текущий момент у проекта нет связанных задач</i></p>
    </div>
        {% endfor %}
  </div>
</div>
</div>
{% endblock %}