<title>Редактировать данные пользователя</title>
{% extends 'base.html' %}
{% block content %}
<div class="info">
<div class="card w-50">
    <div class="card-body">
    <h1>Именить данные пользователя </h1>
            <form action="{% url "edit_profile" user_obj.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Изменить</button>
    </form>
  </div>
</div>
</div>
{% endblock %}