<title>Информацию о пользователе</title>
{% extends 'base.html' %}
{% block content %}
<div class="info">
<div class="card w-50">
    <div class="card-body">
    <h1>Личная станица пользователя</h1>
    {% if user == user_obj %}
        <p>
            <a href="{% url 'edit_profile' user_obj.pk%}">Изменить данные </a> |
            <a href="{% url 'change_password' user_obj.pk%}">Изменить пароль </a>
        </p>
    {% endif %}
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" width="250" alt="Аватар">
        {% else %}
            <img src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198?k=20&m=476085198&s=612x612&w=0&h=8J3VgOZab_OiYoIuZfiMIvucFYB8vWYlKnSjKuKeYQM="
            width="250">
        {% endif %}
        <p class="card-text">Логин: {{ user_obj.username }}</p>
        <p class="card-text">Имя: {{ user_obj.first_name }}</p>
        <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>
        <p class="card-text"><a href="{{ user_obj.profile.website }}">Профиль на Git</a></p>
        <p class="card-text">Информация о себе: {{ user_obj.profile.description }}</p>
    <h3>Участник проекта: </h3>
    {% for i in projects.all %}
        <a href="{% url 'project_info' i.id%}">
        <div class="content">
            <div class="row">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ i.project_name }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </a>
        {% empty %}
            <p><i>на текущий момент у пользователь не участвует в проектах</i></p>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}