<title>Смена пароля</title>
{% extends 'base.html' %}
{% block content %}
<div class="info">
<div class="card w-50">
    <div class="card-body">
    <h1>Именить пароль пользователя {{ user_obj.username }}</h1>
        <form action="{% url 'change_password' user_obj.pk%}" method="POST">
            {% csrf_token %}
           {{ form.as_p }} <br>
            <button type="submit" class="btn btn-primary btn-block">Изменить</button>
        </form>

  </div>
</div>
</div>
{% endblock %}