<title>Все пользователи</title>
{% extends 'base.html' %}
{% block content %}
{% for i in users_all %}
<div class="content">
<div class="row">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
          <p><a href="{% url 'user_detail' i.pk%}">{{ i.username }}</a></p>
      </div>
    </div>
</div>
</div>
<br>
{% endfor %}
{% endblock %}